{% load static %}
{% load i18n %}
<div class="new-item-content">
            <h3 class="title-product">categories</h3>
            <ul class="scroll-product">
                {% for category in categories %}
                    <li>
                    <label class="check">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <a href="#">
                        <b>{{ category.name }}</b>
                        <span class="quantity">{{ category.products.count }}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>