{% load static %}
{% load i18n %}
<div class="sidebar-3 sidebar-collection col-lg-3 col-md-4 col-sm-4">

    <!-- best seller -->
    <div class="sidebar-block">
        <div class="title-block">Catalog</div>
        {% include 'products/categories-filter.html' %}
        <div class="new-item-content">
            <h3 class="title-product">Manufacture</h3>
            <ul class="scroll-product">
                {% for brand in brands %}
                    <li>
                    <label class="check">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <a href="#">
                        <b>{{ brand.name }}</b>
                        <span class="quantity">{{ brand.products.count }}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="tiva-filter-price new-item-content sidebar-block">
            <h3 class="title-product">By Price</h3>
            <div id="block_price_filter" class="block">
                <div class="block-content">
                    <div id="slider-range" class="tiva-filter">
                        <div class="filter-itemprice-filter">
                            <div class="layout-slider">
                                <input id="price-filter" name="price" value="0;100" />
                            </div>
                            <div class="layout-slider-settings"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar-block by-color">
            <h3 class="title-product">By Color</h3>
            <div>
                <span class="left">
                    <label class="color-item1"></label>
                    <a href="#">
                        <span>Blue
                            <span>(30)</span>
                        </span>
                    </a>
                </span>
                <span class="right">
                    <label class="color-item2"></label>
                    <a href="#">
                        <span>Green
                            <span>(30)</span>
                        </span>
                    </a>
                </span>
            </div>
            <div>
                <span class="left">
                    <label class="color-item3"></label>
                    <a href="#">
                        <span>Yellow
                            <span>(30)</span>
                        </span>
                    </a>
                </span>
                <span class="right">
                    <label class="color-item4"></label>
                    <a href="#">
                        <span>Brown
                            <span>(30)</span>
                        </span>
                    </a>
                </span>

            </div>
            <div>
                <span class="left">
                    <label class="color-item5"></label>
                    <a href="#">
                        <span>Pink
                            <span>(30)</span>
                        </span>
                    </a>
                </span>
                <span class="right">
                    <label class="color-item6"></label>
                    <a href="#">
                        <span>Red
                            <span>(30)</span>
                        </span>
                    </a>
                </span>
            </div>
        </div>
    </div>

    <!-- product tag -->
    <div class="sidebar-block product-tags">
        <div class="title-block">
            Product Tags
        </div>
        <div class="block-content">
            <ul class="listSidebarBlog list-unstyled">
                {% for tag in tags %}
                    <li>
                    <a href="#" title="Show products matching tag Hot Trend">{{ tag.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>